:root {
    --coyoteBrown: #81613C;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
}

.p-bold {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.small-font {
    font-family: "Roboto", sans-serif;
    font-size: 4px;
}