:root {
    --coyoteBrown: #81613C;
}

/* PADDING */

padding-16 {
    padding: 0 16px;
}

/* LAYOUT */

.flex-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* FONTS */

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
}

.p-bold {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.small-font {
    font-family: "Roboto", sans-serif;
    font-size: 4px;
}

/* ELEMENTS */

#Navbar {
    background: var(--coyoteBrown);
    color: white;
}

.userCard {
    width: 350px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(59, 59, 59, 0.425);
    padding: 16px;
}

/* MEDIA QUERIS */

@media  screen and (max-width: 480px)  {

    
    
}